<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Pop's Bloco Cirúrgico</title>
    <!-- font icons -->
    <link rel="stylesheet" href="static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="static/assets/css/meyawo.css">
    <link rel="stylesheet" href="../static/assets/css/assistenciais.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20" id="top">

        <div class="container">
            
            <ul class="nav">
                <li class="item">
                    <button class="btn btn-danger" id="edit-button-3">Editar</button>
                </li>
                <li class="item">
                    <button class="btn btn-success" id="save-button-3" style="display: none;">Salvar</button>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic" style="display: none;">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">

        <div style="display: flex; font-size: 15px; margin-top: 89px;">
            <div>
                <ul>
                    <li class="item">
                        <a class="link" href="#section-100">SMS CME 01 Higienização das mãos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-101">SMS SE 02 Sequência para colocar EPI</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-102">SMS BC 03 Uso do uniforme no Bloco Cirúrgico</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-103">SMS BC 04 Técnica para calçar Luva Esterelizada</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-104">SMS SE 05 Anti Sepsia cirúrgica das mãos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-105">SMS BC 06 Admissão do paciente</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-106">SMS BC 07 Tonsuras de pelos e tricotomia</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-107">SMS BC 08 Preparo da pele</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-108">SMS BC 09 Paramentação ma sala cirúrgica</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-109">SMS BC 10 Preparo da mesa de Instrumentais Cirúrgicos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-110">SMS BC 11 Curativo da ferida Operatória</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-111">SMS BC 12 Cuidados relacionados ao Ambiente</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-112">SMS SE 13 Circulação de uma Sala de Operações</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-113">SMS SE 14 Montagem de uma Sala de Operações</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-114">SMS SE 15 Desmontagem de uma Sala de Operações</a>
                    </li>
                    
                </ul>
            </div>

            <div>
                <ul>
                    <li class="item">
                        <a class="link" href="#section-115">SMS SE 16 Admissão e Assistência de enfermagem ao paciente em Recuperação Anestésica</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-116">SMS SE 17 Cuidados no Pré Operatório</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-117">SMS SE 18 Abertura de Materiais Estéreis</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-118">SMS CME 19 Desinfecção das Bancadas e Equipamentos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-119">SMS SE 20 Limpeza e Desinfecção de Superfícies Macas</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-120">SMS SE 21 Limpeza e Desinfecção do Laringoscópio</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-121">SMS BC 22 Limpeza e Desinfecção do Endoscópio</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-122">SMS BC 23 Limpeza e Desinfecção dos Acessórios de Endoscopia</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-123">SMS BC 24 Monitoramento da concentração do Desinfetante de Alto Nível</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-124">SMS BC 25 Período que antecede o exame de Endoscopia Digestiva</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-125">SMS BC 26 Período durante o exame de Endoscopia Digestiva</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-126">SMS BC 27 Período após o exame de Endoscopia Digestiva</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-127">SMS BC 28 Rotinas na coleta Biópsia Gástrica</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-128">SMS BC 29 Teste de vedação do Aparelho Endoscópico</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </header><!-- end of page header -->

    <!-- about section -->
     
    <section class="section section-2" id="section-100" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Higienização das mãos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector100" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>

            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame100" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    
    <section class="section section-2" id="section-101" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Sequência para colocar EPI</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector101" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            

            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame101" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    
    <section class="section section-2" id="section-102" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Uso do uniforme no Bloco Cirúrgico</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector102" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame102" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-103" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Técnica para calçar Luva Esterelizada</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector103" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame103" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-104" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Anti Sepsia cirúrgica das mãos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector104" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame104" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-105" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Admissão do paciente</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector105" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame105" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-106" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Tonsuras de pelos e tricotomia</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector106" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame106" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-107" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Preparo da pele</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector107" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame107" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-108" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Paramentação ma sala cirúrgica</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector108" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame108" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-109" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Preparo da mesa de Instrumentais Cirúrgicos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector109" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame109" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-110" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Curativo da ferida Operatória</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector110" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame110" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-111" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Cuidados relacionados ao Ambiente</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector111" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame111" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-112" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Circulação de uma Sala de Operações</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector112" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame112" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-113" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Montagem de uma Sala de Operações</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector113" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame113" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-114" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Desmontagem de uma Sala de Operações</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector114" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame114" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-115" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Admissão e Assistência de enfermagem ao paciente em Recuperação Anestésica</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector115" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame115" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-116" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Cuidados no Pré Operatório</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector116" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame116" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>


    <section class="section section-2" id="section-117" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Abertura de Materiais Estéreis</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector117" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame117" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-118" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Desinfecção das Bancadas e Equipamentos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector118" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame118" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-119" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Limpeza e Desinfecção de Superfícies Macas</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector119" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame119" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-120" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Limpeza e Desinfecção do Laringoscópio</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector120" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame120" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-121" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Limpeza e Desinfecção do Endoscópio</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector121" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame121" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-122" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Limpeza e Desinfecção dos Acessórios de Endoscopia</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector122" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame122" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-123" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Monitoramento da concentração do Desinfetante de Alto Nível</h4>
                    <div style="display: flex;" class="div-oculta">
                        <select class="form-select pdfSelector" id="pdfSelector123" style="margin-left: 100px; font-size: 14px; height: 25px;">
                            {% for pdf in pdfs %}
                                <option value="{{ pdf }}">{{ pdf }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame123" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-124" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Período que antecede o exame de Endoscopia Digestiva</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector124" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame124" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-125" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Período durante o exame de Endoscopia Digestiva</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector125" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame125" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-126" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Período após o exame de Endoscopia Digestiva</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector126" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame126" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-127" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Rotinas na coleta Biópsia Gástrica</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector127" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame127" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-128" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Teste de vedação do Aparelho Endoscópico</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector128" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame128" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>


    <!-- end of about section -->

    <div id="edit-modal" style="display: none;">
        <textarea id="textarea-edit" rows="4" cols="50"></textarea>
        <button id="save-button">Salvar</button>
    </div>

    <!-- core  -->
    <script src="static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <script src="static/assets/js/meyawo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navToggles = document.querySelectorAll('.div-oculta'); // Seleciona todas as divs ocultas
            let sequence = '';
            const secretCode = '365941';
            const resetDelay = 1000; // tempo em milissegundos para resetar a sequência
        
            // Função para ocultar as divs
            const hideDivs = () => {
                navToggles.forEach(navToggle => {
                    navToggle.style.display = 'none'; // Oculta todas as divs
                });
            };
        
            const resetSequence = () => {
                sequence = ''; // Reseta a sequência
            };
        
            document.addEventListener('keydown', function(event) {
                // Verifica se a tecla ALT está pressionada
                if (event.altKey && !isNaN(event.key)) {
                    sequence += event.key; // Adiciona a tecla à sequência
                    
                    // Verifica se a sequência está correta
                    if (sequence === secretCode) {
                        navToggles.forEach(navToggle => {
                            navToggle.style.display = 'flex'; // Mostra todas as divs com display flex
                        });
                        resetSequence(); // Reseta a sequência
                    } else if (!secretCode.startsWith(sequence)) {
                        resetSequence(); // Reseta se a sequência estiver incorreta
                    }
        
                    // Reseta a sequência após um atraso
                    clearTimeout(window.resetTimeout); // Limpa o timeout anterior
                    window.resetTimeout = setTimeout(resetSequence, resetDelay);
                }
        
                // Se a tecla ESC for pressionada, oculta as divs
                if (event.key === 'Escape') {
                    hideDivs(); // Chama a função para ocultar as divs
                    resetSequence(); // Reseta a sequência
                }
            });
        
            // Ocultar divs inicialmente
            hideDivs();
        });
        </script>
        

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sections = document.querySelectorAll('.section');

        sections.forEach(section => {
            const sectionId = section.getAttribute('id').split('-')[1];  // Extrai o número do ID da seção
            const pageIdentifier = section.getAttribute('data-page'); // Identificador da página
            const pdfSelector = section.querySelector('.form-select'); // Certifique-se que a classe é correta
            const pdfFrame = section.querySelector('.pdfFrame'); // Certifique-se que a classe é correta

            // Carregar a seleção do PDF ao carregar a página
            fetch(`/get_selection/${sectionId}/${pageIdentifier}`) // Incluindo page_identifier
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.selected_pdf) {
                        pdfSelector.value = data.selected_pdf;
                        pdfFrame.src = `http://192.168.1.25:5099/pdfs/${data.selected_pdf}`; // Ajuste o caminho conforme necessário
                    }
                })
                .catch(error => console.error('Erro ao carregar a seleção do PDF:', error));

            // Salvar a seleção do PDF ao mudar a opção
            pdfSelector.addEventListener('change', function() {
                const selectedPdf = pdfSelector.value;

                // Salvar a seleção do PDF com base no identificador da página
                fetch('/save_selection', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        section_id: sectionId,
                        selected_pdf: selectedPdf,
                        page_identifier: pageIdentifier // Enviar o identificador da página
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data.message);  // Pode ser usado para exibir uma notificação ao usuário
                })
                .catch(error => console.error('Erro ao salvar a seleção do PDF:', error));

                // Atualizar o iframe com o PDF selecionado
                pdfFrame.src = `http://192.168.1.25:5099/pdfs/${selectedPdf}`;  // Ajuste o caminho conforme necessário
            });
        });
    });
</script>


</body>

</html>