<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Pop's Farmácia</title>
    <!-- font icons -->
    <link rel="stylesheet" href="static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="static/assets/css/meyawo.css">
    <link rel="stylesheet" href="../static/assets/css/assistenciais.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20" id="top">

        <div class="container">
            
            <ul class="nav">
                <li class="item">
                    <button class="btn btn-danger" id="edit-button-3">Editar</button>
                </li>
                <li class="item">
                    <button class="btn btn-success" id="save-button-3" style="display: none;">Salvar</button>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic" style="display: none;">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">

        <div style="display: flex; font-size: 15px; margin-top: 89px;">
            <div>
                <ul>
                    <li class="item">
                        <a class="link" href="#section-210">SMS SFH 01 Controle de Temperatura de Geladeira</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-211">SMS SFH 02 Limpeza da Geladeira de Armazenamento de Medicamentos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-212">SMS SFH 03 Limpeza de Superfícies</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-213">SMS SFH 04 Controle de Validade</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-214">SMS SFH 05 Dispensação de Medicamentos Antimicrobianos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-215">SMS SFH 06 Reposição de Materiais nos Setores</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-216">SMS SFH 07 Dispensação de Medicamentos Portaria</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-217">SMS SFH 08 Atendimento das Prescrições dos Internados na Clínica Médica</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-218">SMS SFH 09 Fracionamento de Medicamentos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-219">SMS SFH 10 Saída de Maletas para o Bloco Cirúrgico</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-220">SMS SFH 11 Saída de Maletas para o Transporte</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-221">SMS SFH 12 Controle de Temperatua Ambiente</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-222">SMS SFH 13 Transporte de Insumos do Almoxerifado para a Farmácia</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-223">SMS SFH 14 Descarte de Medicamentos e Insumos da Farmácia</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-224">SMS SFH 15 Controle de Carro de Emergência</a>
                    </li>
                    
                </ul>
            </div>

            <div>
                <ul>
                    <li class="item">
                        <a class="link" href="#section-225">SMS SFH 16 Recebimento de Medicamentos e Materiais</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-226">SMS SFH 17 Controle de Estoque</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-227">SMS SFH 18 Manejo de Medicamento com Vencimento Próximo</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-228">SMS SFH 19 Manejo de Medicamentos para Cuidados Paliativos</a>
                    </li>                  
                </ul>
            </div>
        </div>
    </header><!-- end of page header -->

    <!-- about section -->
     
    <section class="section section-2" id="section-210" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Controle de Temperatura de Geladeira</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector100" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>

            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame100" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    
    <section class="section section-2" id="section-211" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Limpeza da Geladeira de Armazenamento de Medicamentos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector101" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            

            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame101" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    
    <section class="section section-2" id="section-212" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Limpeza de Superfícies</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector102" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame102" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-213" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Controle de Validade</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector103" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame103" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-214" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Dispensação de Medicamentos Antimicrobianos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector104" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame104" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-215" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Reposição de Materiais nos Setores</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector105" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame105" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-216" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Dispensação de Medicamentos Portaria</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector106" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame106" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-217" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Atendimento das Prescrições dos Internados na Clínica Médica</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector107" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame107" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-218" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Fracionamento de Medicamentos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector108" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame108" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-219" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Saída de Maletas para o Bloco Cirúrgico</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector109" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame109" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-220" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Saída de Maletas para o Transporte</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector110" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame110" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-221" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Controle de Temperatua Ambiente</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector111" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame111" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-222" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Transporte de Insumos do Almoxerifado para a Farmácia</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector112" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame112" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-223" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Descarte de Medicamentos e Insumos da Farmácia</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector113" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame113" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-224" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Controle de Carro de Emergência</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector114" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame114" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-225" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Recebimento de Medicamentos e Materiais</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector115" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame115" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-226" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Controle de Estoque</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector116" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame116" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>


    <section class="section section-2" id="section-227" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Manejo de Medicamento com Vencimento Próximo</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector117" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame117" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-228" data-page="page3">
        <div class="card card-conteudo card-conteudo-3 editable">
            <div style="display: flex;">
                <h4>Manejo de Medicamentos para Cuidados Paliativos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector118" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame118" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    <!-- end of about section -->

    <div id="edit-modal" style="display: none;">
        <textarea id="textarea-edit" rows="4" cols="50"></textarea>
        <button id="save-button">Salvar</button>
    </div>

    <!-- core  -->
    <script src="static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <script src="static/assets/js/meyawo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navToggles = document.querySelectorAll('.div-oculta'); // Seleciona todas as divs ocultas
            let sequence = '';
            const secretCode = '365941';
            const resetDelay = 1000; // tempo em milissegundos para resetar a sequência
        
            // Função para ocultar as divs
            const hideDivs = () => {
                navToggles.forEach(navToggle => {
                    navToggle.style.display = 'none'; // Oculta todas as divs
                });
            };
        
            const resetSequence = () => {
                sequence = ''; // Reseta a sequência
            };
        
            document.addEventListener('keydown', function(event) {
                // Verifica se a tecla ALT está pressionada
                if (event.altKey && !isNaN(event.key)) {
                    sequence += event.key; // Adiciona a tecla à sequência
                    
                    // Verifica se a sequência está correta
                    if (sequence === secretCode) {
                        navToggles.forEach(navToggle => {
                            navToggle.style.display = 'flex'; // Mostra todas as divs com display flex
                        });
                        resetSequence(); // Reseta a sequência
                    } else if (!secretCode.startsWith(sequence)) {
                        resetSequence(); // Reseta se a sequência estiver incorreta
                    }
        
                    // Reseta a sequência após um atraso
                    clearTimeout(window.resetTimeout); // Limpa o timeout anterior
                    window.resetTimeout = setTimeout(resetSequence, resetDelay);
                }
        
                // Se a tecla ESC for pressionada, oculta as divs
                if (event.key === 'Escape') {
                    hideDivs(); // Chama a função para ocultar as divs
                    resetSequence(); // Reseta a sequência
                }
            });
        
            // Ocultar divs inicialmente
            hideDivs();
        });
        </script>
        

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sections = document.querySelectorAll('.section');

        sections.forEach(section => {
            const sectionId = section.getAttribute('id').split('-')[1];  // Extrai o número do ID da seção
            const pageIdentifier = section.getAttribute('data-page'); // Identificador da página
            const pdfSelector = section.querySelector('.form-select'); // Certifique-se que a classe é correta
            const pdfFrame = section.querySelector('.pdfFrame'); // Certifique-se que a classe é correta

            // Carregar a seleção do PDF ao carregar a página
            fetch(`/get_selection/${sectionId}/${pageIdentifier}`) // Incluindo page_identifier
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.selected_pdf) {
                        pdfSelector.value = data.selected_pdf;
                        pdfFrame.src = `http://192.168.1.140:5088/farmacia/${data.selected_pdf}`; // Ajuste o caminho conforme necessário
                    }
                })
                .catch(error => console.error('Erro ao carregar a seleção do PDF:', error));

            // Salvar a seleção do PDF ao mudar a opção
            pdfSelector.addEventListener('change', function() {
                const selectedPdf = pdfSelector.value;

                // Salvar a seleção do PDF com base no identificador da página
                fetch('/save_selection', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        section_id: sectionId,
                        selected_pdf: selectedPdf,
                        page_identifier: pageIdentifier // Enviar o identificador da página
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data.message);  // Pode ser usado para exibir uma notificação ao usuário
                })
                .catch(error => console.error('Erro ao salvar a seleção do PDF:', error));

                // Atualizar o iframe com o PDF selecionado
                pdfFrame.src = `http://192.168.1.140:5088/farmacia/${selectedPdf}`;  // Ajuste o caminho conforme necessário
            });
        });
    });
</script>


</body>

</html>