<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Pop's Laboratório Vitae</title>
    <!-- font icons -->
    <link rel="stylesheet" href="static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="static/assets/css/meyawo.css">
    <link rel="stylesheet" href="../static/assets/css/assistenciais.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20" id="top">

        <div class="container">
            
            <ul class="nav">
                <li class="item">
                    <button class="btn btn-danger" id="edit-button-4">Editar</button>
                </li>
                <li class="item">
                    <button class="btn btn-success" id="save-button-4" style="display: none;">Salvar</button>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic" style="display: none;">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">

        <div style="display: flex; font-size: 15px; margin-top: -200px;">
            <div>
                <ul>
                    <li class="item">
                        <a class="link" href="#section-304">SMS LAB 01 Recebimento e Identificação de Amostras para Processar</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-305">SMS LAB 02 Login no sistema ARLAB e cadastros de Pacientes</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-306">SMS LAB 03 Coleta de Sangue para Análise Laboratorial e Nova Coleta</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-307">SMS LAB 04 Coleta de Urina Rotina</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-308">SMS LAB 05 Centrifugação de Amostras</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-309">SMS LAB 06 Urina Rotina e GRAM de Gota</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-310">SMS LAB 07 BIOQUÍMICA - Ligar, Desligar, Gerar Índice, Checar e Fixar Reagentes</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-311">SMS LAB 08 BIOQUÍMICA - Manutenção Diária</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-312">SMS LAB 09 BIOQUÍMICA - Manutenção Semanal</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-313">SMS LAB 10 BIOQUÍMICA - Manutenção Mensal</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-314">SMS LAB 11 BIOQUÍMICA - Calibração</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-315">SMS LAB 12 BIOQUÍMICA - Controle</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-316">SMS LAB 13 BIOQUÍMICA - Processamento de Amostra</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-317">SMS LAB 14 Hematologia - Confecção e leitura de Lâminas</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-318">SMS LAB 15 Tempo de Protrombina (TP)</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-319">SMS LAB 16 Tempo de Tromboplastina Parcial Ativada (TTPA)</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-320">SMS LAB 17 Teste Rápido para Troponina</a>
                    </li>
                    
                </ul>
            </div>

            <div>
                <ul>
                    <li class="item">
                        <a class="link" href="#section-321">SMS LAB 18 Teste Rápido para HCG</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-322">SMS LAB 19 Fluxo de Profilaxia Pós Exposição (PEP) Teste Rápido para HIV</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-323">SMS LAB 20 Manutenção da Soroteca e Geladeira de Reagentes</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-324">SMS LAB 21 Lavagem das Mãos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-325">SMS LAB 22 Limpeza de Equipamentos e Bancadas</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-326">SMS LAB 23 Sistema de Água - Análise Físico-Química</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-327">SMS LAB 24 Sistema de Água - Troca de Coluna Deionizante</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-328">SMS LAB 25 Sistema de Água - Troaca de Elementos Filtrantes</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-329">SMS LAB 26 Descarte de Resíduos Comuns e Infectantes</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-330">SMS LAB 27 Proteína C Reativa</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-331">SMS LAB 28 Limpeza de Aparelhos de Ar Condicionado</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-332">SMS LAB 29 Limpeza e Higienização</a>
                    </li>                   
                    <li class="item">
                        <a class="link" href="#section-333">SMS LAB 30 Fluxo de Comunicação de Resultados Críticos</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-334">SMS LAB 31 Processamento de Amostra com Suspeita de Macro CK</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#section-335">SMS LAB 32 Hemograma</a>
                    </li>               
                    <li class="item">
                        <a class="link" href="#section-336">SMS LAB 33 Bioquimica e Coagulação</a>
                    </li>
                    
                </ul>
            </div>


            
        </div>
    </header><!-- end of page header -->

    <!-- about section -->
     
    <section class="section section-2" id="section-304" data-page="page4">
        <div class="card card-conteudo editable">
            <div style="display: flex;">
                <h4>Recebimento e Identificação de Amostras para Processar</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector129" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>

            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame129" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    


    <section class="section section-2" id="section-305" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Login no sistema ARLAB e cadastros de Pacientes</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector130" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            

            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame130" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    


    <section class="section section-2" id="section-306" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Coleta de Sangue para Análise Laboratorial e Nova Coleta</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector131" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame131" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-307" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Coleta de Urina Rotina</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector132" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame132" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-308" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Centrifugação de Amostras</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector134" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame134" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-309" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Urina Rotina e GRAM de Gota</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector135" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame135" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-310" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>BIOQUÍMICA - Ligar, Desligar, Gerar Índice, Checar e Fixar Reagentes</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector136" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame136" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-311" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>BIOQUÍMICA - Manutenção Diária</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector137" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame137" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-312" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>BIOQUÍMICA - Manutenção Semanal</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector138" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame138" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-313" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>BIOQUÍMICA - Manutenção Mensal</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector139" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame139" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-314" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>BIOQUÍMICA - Calibração</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector140" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame140" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-315" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>BIOQUÍMICA - Controle</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector141" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame141" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-316" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>BIOQUÍMICA - Processamento de Amostra</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector142" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame142" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-317" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Hematologia - Confecção e leitura de Lâminas</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector143" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame143" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-318" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Tempo de Protrombina (TP)</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector144" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame144" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>




    <section class="section section-2" id="section-319" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Tempo de Tromboplastina Parcial Ativada (TTPA)</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector145" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame145" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>





    <section class="section section-2" id="section-320" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Teste Rápido para Troponina</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector146" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame146" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>


    <section class="section section-2" id="section-321" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Teste Rápido para HCG</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector147" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame147" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>



    <section class="section section-2" id="section-322" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Fluxo de Profilaxia Pós Exposição (PEP) Teste Rápido para HIV</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector148" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame148" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-323" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Manutenção da Soroteca e Geladeira de Reagentes</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector149" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame149" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-324" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Lavagem das Mãos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector150" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame150" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-325" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Limpeza de Equipamentos e Bancadas</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector151" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame151" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-326" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Sistema de Água - Análise Físico-Química</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector152" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame152" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-327" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Sistema de Água - Troca de Coluna Deionizante</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector153" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame153" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-328" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Sistema de Água - Troaca de Elementos Filtrantes</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector154" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame154" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-329" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Descarte de Resíduos Comuns e Infectantes</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector155" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame155" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-330" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Proteína C Reativa</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector156" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame156" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-331" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Limpeza de Aparelhos de Ar Condicionado</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector157" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame157" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-332" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Limpeza e Higienização</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector158" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame158" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-333" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Fluxo de Comunicação de Resultados Críticos</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector159" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame159" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-334" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Processamento de Amostra com Suspeita de Macro CK</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector160" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame160" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-335" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Hemograma</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector161" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame161" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    


    <section class="section section-2" id="section-336" data-page="page4">
        <div class="card card-conteudo card-conteudo-4 editable">
            <div style="display: flex;">
                <h4>Bioquimica e Coagulação</h4>
                <div style="display: flex;" class="div-oculta">
                    <select class="form-select pdfSelector" id="pdfSelector162" style="margin-left: 100px; font-size: 14px; height: 25px;">
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="link" href="#home" style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </a>
            </div>
            
            <div id="pdfViewer" style="margin-top: 20px;">
                <iframe class="pdfFrame" id="pdfFrame162" style="width: 100%; height: 700px;" frameborder="0"></iframe>
            </div>
        </div>
    </section>


    <!-- end of about section -->

    <div id="edit-modal" style="display: none;">
        <textarea id="textarea-edit" rows="4" cols="50"></textarea>
        <button id="save-button">Salvar</button>
    </div>

    <!-- core  -->
    <script src="static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <script src="static/assets/js/meyawo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navToggles = document.querySelectorAll('.div-oculta'); // Seleciona todas as divs ocultas
            let sequence = '';
            const secretCode = '365941';
            const resetDelay = 1000; // tempo em milissegundos para resetar a sequência
        
            // Função para ocultar as divs
            const hideDivs = () => {
                navToggles.forEach(navToggle => {
                    navToggle.style.display = 'none'; // Oculta todas as divs
                });
            };
        
            const resetSequence = () => {
                sequence = ''; // Reseta a sequência
            };
        
            document.addEventListener('keydown', function(event) {
                // Verifica se a tecla ALT está pressionada
                if (event.altKey && !isNaN(event.key)) {
                    sequence += event.key; // Adiciona a tecla à sequência
                    
                    // Verifica se a sequência está correta
                    if (sequence === secretCode) {
                        navToggles.forEach(navToggle => {
                            navToggle.style.display = 'flex'; // Mostra todas as divs com display flex
                        });
                        resetSequence(); // Reseta a sequência
                    } else if (!secretCode.startsWith(sequence)) {
                        resetSequence(); // Reseta se a sequência estiver incorreta
                    }
        
                    // Reseta a sequência após um atraso
                    clearTimeout(window.resetTimeout); // Limpa o timeout anterior
                    window.resetTimeout = setTimeout(resetSequence, resetDelay);
                }
        
                // Se a tecla ESC for pressionada, oculta as divs
                if (event.key === 'Escape') {
                    hideDivs(); // Chama a função para ocultar as divs
                    resetSequence(); // Reseta a sequência
                }
            });
        
            // Ocultar divs inicialmente
            hideDivs();
        });
        </script>
        

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sections = document.querySelectorAll('.section');

        sections.forEach(section => {
            const sectionId = section.getAttribute('id').split('-')[1];  // Extrai o número do ID da seção
            const pageIdentifier = section.getAttribute('data-page'); // Identificador da página
            const pdfSelector = section.querySelector('.form-select'); // Certifique-se que a classe é correta
            const pdfFrame = section.querySelector('.pdfFrame'); // Certifique-se que a classe é correta

            // Carregar a seleção do PDF ao carregar a página
            fetch(`/get_selection/${sectionId}/${pageIdentifier}`) // Incluindo page_identifier
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.selected_pdf) {
                        pdfSelector.value = data.selected_pdf;
                        pdfFrame.src = `http://192.168.1.25:5099/laboratorio/${data.selected_pdf}`; // Ajuste o caminho conforme necessário
                    }
                })
                .catch(error => console.error('Erro ao carregar a seleção do PDF:', error));

            // Salvar a seleção do PDF ao mudar a opção
            pdfSelector.addEventListener('change', function() {
                const selectedPdf = pdfSelector.value;

                // Salvar a seleção do PDF com base no identificador da página
                fetch('/save_selection', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        section_id: sectionId,
                        selected_pdf: selectedPdf,
                        page_identifier: pageIdentifier // Enviar o identificador da página
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data.message);  // Pode ser usado para exibir uma notificação ao usuário
                })
                .catch(error => console.error('Erro ao salvar a seleção do PDF:', error));

                // Atualizar o iframe com o PDF selecionado
                pdfFrame.src = `http://192.168.1.25:5099/laboratorio/${selectedPdf}`;  // Ajuste o caminho conforme necessário
            });
        });
    });
</script>


</body>

</html>